.tickets {
  display: flex;
  justify-content: space-between;
  height: 27%;

  @include onTablet {
    justify-content: start;
  }

  @include onDesktop {
    grid-column: 3 / 6;
    grid-row: 5;
  }

  &__title {
    display: block;
    height: 50px;
    flex-grow: 1;

    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;

    color: $main-text-color;

    border: 1px solid $main-color;

    @include onTablet {
      height: 70px;
      width: 200px;
      flex-grow: 0;
      line-height: 70px;
    }
  }

  &__button {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid $main-color;
    background-color: $main-color;

    background-image: url(../images/graphics/arrow_light.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include hover(scale, 105%);

    @include onTablet {
      width: 70px;
      height: 70px;
    }
  }

  &__overlay {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

    &:target {
      visibility: visible;
      opacity: 1;
    }
  }
}

.popup {
  position: fixed;
  top: 15vh;
  left: 25vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 50vw;
  box-shadow:
  0 0 0 10px #1a5a4c,
  0 0 0 12px white;
  border-radius: 2px;
  transition: all 1s ease-in-out;
}


.close {
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: black;
  transition: transform 0.3s ease;
}

.close:hover {
  transform: scale(1.2);
}

.ticketform {
  margin: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tlabels {
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  font-weight: bold;
}

.ticket_head {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}


#ticket_submit {
    background-color: #1a5a4c;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#ticket_submit:hover {
    transform: scale(1.2);
}

.ticket_inputs {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
}

.ticket_inputs:hover {
    background-color: #e8e8f8;
}

.ticket_inputs:focus {
    outline: none;
    border-color: #1a5a4c;
}
